<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://unpkg.com/some-nice-basic-css/global.css" />
    <style>
        pre code {
            white-space: pre-wrap;
        }
    </style>
</head>
<body>

<header class="wrapper">
{% include 'nav.njk' %}
</header>


<main class="wrapper">
    <div class="post">
        {{ content | safe }}
    </div>
</main>
</body>
</html>